.boss{
  min-height: calc(100vh - 30px);
  min-width: 1200px;
  width: 100%;
  &>.the-body{
    display: flex;
    min-height: calc(100vh - 45px);
    .flex-auto{
      position: relative;
      flex: auto;
    }
    .flex-none{
      position: relative;
      flex: none;
    }
    .the-menu{
      width: 256px;
    }
  }
}