.my-table {
  .table-img {
    max-width: 100px;
    max-height: 36px;
    object-fit: cover;
    margin-right: 4px;
    border-radius: 4px;
  }
}
.small-img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 4px;
  border-radius: 4px;
}
.table-img-big {
  max-width: 350px;
  max-height: 350px;
  border-radius: 4px;
}

.list {
  .show {
    display: none;
  }
}
