{
  "presets": [
    "babel-preset-react",
    [
      "babel-preset-env",
      {
        "modules": false,
        "targets": {
         "ie9": true
        },
        "uglify": true
      }
    ]
  ],
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }],
    "transform-decorators-legacy",
    "transform-class-properties",
    [
      "import",
      {
	      "libraryName": "antd",
	      "style": true
      }
    ]
  ]
}
