.page-login{
    height: calc(100vh - 70px);
    min-height: 250px;
	.login-box{
      width: 400px;
      padding: 20px;
      border-radius: 4px;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      .title{
        font-size: 16px;
        letter-spacing: 2px;
        padding-bottom: 10px;
      }
      .submit-btn{
        float: right;
        width: 200px;
      }
    }
}