.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 16px 10px;
}
.list {
  .hide {
    display: none;
  }
}
.page-refundaudit {
  .ant-table-thead {
    .ant-table-selection {
      display: none;
    }
  }
}
