.ant-form-item-label .ant-form-item-required {
  float: left;
}
.ant-form-explain {
  margin-left: 80px;
}

.ant-checkbox-wrapper + .ant-checkbox-wrapper {
  margin-left: 0px;
}

.codNum {
  .hide {
    display: none;
  }
}

.codNum {
  .show {
    display: none;
  }
}
