/* SASS测试 */
$blue: #108EE9; // 标准蓝色
$blue-a: #67DAF9; // 标准蓝色active

.boss{
	min-height: calc(100vh - 30px);
	min-width: 1200px;
	width: 100%;
}

/* 所有内部页面统一基础样式 */
.allpage{
	position: relative;
	min-height: calc(100vh - 75px);
	padding-bottom: 10px;
	box-sizing: border-box;
	.left{
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
		min-height: 100%;
		background-color: #404040;
	}
	.right{
		margin-left: 180px;
	}
}

/* 导航样式 */
.menu{
	margin-top:10px;
	color:#888;
	text-align: center;
	.active{
		color: $blue-a;
	}
	a{
		padding:0 5px;
		color:#0066cc;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

/* Footer样式 */
.footer{
	background-color: #222222;
	min-width: 1200px;
	font-size: 12px;
	color: #cccccc;
	text-align: center;
	height: 30px;
	line-height: 30px;
	a{
		color: $blue;
		&:hover{
			color: $blue-a;
			text-decoration: underline;
		}
	}
}


/* 404页样式 */
.page-notfound{
	height: calc(100vh - 75px);
	.box{
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		color: #888;
	}
}
