.com-header {
  position: fixed;
  width: 100%;
  min-width: 1200px;
  z-index: 999;
  top: 0;
  height: 46px;
  line-height: 46px;
  box-sizing: border-box;
  padding: 0 5px;
  color: #fefefe;
  background-color: #001529;
  font-size: 13px;
  display: flex;
  .menu-box {
    flex: 1;
  }
  .header-menu {
    flex: none;
    li {
      display: inline-block;
      .logo {
        color: #fefefe;
        text-decoration: none;
        padding-left: 0;
        img {
          height: 20px;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 8px;
        }
      }
      .active {
        color: #fff;
        background-color: #666;
      }
      a {
        display: block;
        color: #cecece;
        width: 100%;
        height: 100%;
        padding: 0 12px;
        text-decoration: none;
        transition: all 200ms;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .header-userinfo {
    flex: none;
    color: #fefefe;
    font-size: 12px;
    width: auto;
    .logout {
      background-color: transparent;
      color: #fefefe;
      border: none;
      &:hover {
        color: #00ff00;
      }
    }
    li {
      display: inline-block;
      margin-left: 10px;
      a {
        color: #cccccc;
      }
    }
  }
}
.header-station {
  width: 100%;
  height: 46px;
  background-color: #353535;
}

.com-header{
  hide{
    display: none;
  }
}
